.container {
  display: flex;
  flex-direction: row;
  background-color: #eee;
}

.main-panel {
  display: flex;
  flex-direction: column;
}

.control-panel {
  padding: 6px;
  background-color: #e8e8e8;
}

.right-side-panel {
  margin-left: 12px;
}

.right-side-panel div {
  margin-bottom: 12px;
}

.left-side-panel {
  margin-right: 12px;
}

.score-panel,
.coming-tetro-panel {
  border: 2px solid #000;
  padding: 6px 12px;
  background-color: #ddd;
}

.score-panel {
  min-width: 120px;
}

.score-panel div {
  text-align: right;
  border-bottom: 1px solid #888;
  padding-bottom: 6px
}

.coming-tetro-panel {
  min-width: 90px;
}

.coming-tetro-panel strong {
  display: block;
  margin-bottom: 18px;
}
