.container {
  display: flex;
  flex-direction: row;
}

.main-panel {
  display: flex;
  flex-direction: column;
}

.control-panel {
  padding: 6px;
  background-color: #eee;
}

.right-side-panel {
  margin-left: 12px;
}

.right-side-panel div {
  margin-bottom: 12px;
}

.left-side-panel {
  margin-right: 12px;
}

.score-panel,
.coming-tetro-panel {
  border: 1px solid #000;
  padding: 6px 12px;
}

.score-panel {
  min-width: 120px;
}

.score-panel div {
  text-align: right;
  border-bottom: 1px solid #888;
  padding-bottom: 6px
}

.coming-tetro-panel {
  min-width: 90px;
}

.coming-tetro-panel strong {
  display: block;
  padding-bottom: 12px;
}
