table.grid-2d {
  border-collapse: collapse;
  border: 2px solid #444;
  margin-bottom: 0;

  td {
    padding: 0;
    border: 1px solid #aaa;
    height: 24px;
    width: 24px;
  }
}

form.control-form {
  button {
    margin-right: 6px;
  }

  :last-child {
    margin-right: 0;
  }
}
