table.grid-2d {
  border-collapse: collapse;
  border: 2px solid #444;

  td {
    border: 1px solid #aaa;
    height: 36px;
    width: 36px;
  }
}

form.controlForm {
  margin-top: 12px;

  button {
    margin-right: 6px;
  }

  :last-child {
    margin-right: 0;
    float: right;
  }
}
